.project { color : blue }
.context { color : dark-orange }
.priority { font-weight: bold; }
.date { font-size: 80%}
/* done tasks */
div[data-done="true"] {
  text-decoration: line-through;
  color: gray;
}

.doc_add, .selected .doc_add {
  background-image: url(../images/doc_plus.png);
  background-repeat: no-repeat;
  background-position: 5px 4px !important;
}
